<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Distribuidora Occidental</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{../../../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{../../../../css/sb-admin-2.min.css}" rel="stylesheet">
     <!-- Custom styles for this page -->
     <link th:href="@{../../../../vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

         <!-- Sidebar -->
         <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/Dashboard/admin}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Distribuidora Occidental</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/Dashboard/admin}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                CRUD
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categoriaP"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Categorias de Producto</span>
                </a>
                <div id="categoriaP" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/DashBoard/admin/categoriaProducto/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/categoriaProducto/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/categoriaProducto/editar}">Editar</a>
                    
                    </div>
                </div>
            </li>
              <!-- Nav Item - Pages Collapse Menu -->
              <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#compras"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Compras</span>
                </a>
                <div id="compras" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/compra/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/compra/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/compra/editar}">Editar</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#detallecompras"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Detalle de Compras</span>
                </a>
                <div id="detallecompras" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/detalleCompra/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/detalleCompra/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/detalleCompra/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#detalleventas"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Detalle de Ventas</span>
                </a>
                <div id="detalleventas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/DashBoard/admin/detalleVenta/listar">Listar</a>
                        <a class="collapse-item" th:href="@{/DashBoard/admin/detalleVenta/crear">Crear</a>
                        <a class="collapse-item" th:href="@{/DashBoard/admin/detalleVenta/editar">Editar</a>

                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#estado"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Estado</span>
                </a>
                <div id="estado" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/estado/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/estado/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/estado/editar}">Editar</a>

                    </div>
                </div>
            </li>
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inventarioentrada"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Invetario Entrada</span>
                </a>
                <div id="inventarioentrada" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventarioEntrada/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventaroEntrada/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventarioEntrada/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inventario"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Inventarios</span>
                </a>
                <div id="inventario" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventario/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventario/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventario/editar}">Editar</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inventariosalida"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Inventario Salida</span>
                </a>
                <div id="inventariosalida" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventarioSalida/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventarioSalida/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/inventarioSalida/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#marca"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Marca</span>
                </a>
                <div id="marca" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/marca/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/marca/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/marca/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#permisos"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Permisos</span>
                </a>
                <div id="permisos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/permiso/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/permiso/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/permiso/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#peticiones"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Peticiones</span>
                </a>
                <div id="peticiones" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/peticion/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/peticion/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/peticion/editar}">Editar</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#producto"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Productos</span>
                </a>
                <div id="producto" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/producto/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/producto/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/producto/editar}">Editar</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#proveedor"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Proveedor</span>
                </a>
                <div id="proveedor" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/proveedor/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/proveedor/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/proveedor/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#respuesta"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Respuesta</span>
                </a>
                <div id="respuesta" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{Dashboard/admin/respuesta/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{Dashboard/admin/respuesta/listar}">Crear</a>
                        <a class="collapse-item" th:href="@{Dashboard/admin/respuesta/listar}">Editar</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#rol"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Rol</span>
                </a>
                <div id="rol" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/rol/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/rol/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/rol/editar}">Editar</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tipodocumento"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Tipos de Documentos</span>
                </a>
                <div id="tipodocumento" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/tipoDocumento/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/tipoDocumento/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/tipoDocumento/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tipopeticion"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Tipos de Peticiones</span>
                </a>
                <div id="tipopeticion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/tipoPeticion/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/tipoPeticion/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/tipoPeticion/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#usuario"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Usuarios</span>
                </a>
                <div id="usuario" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{/Dashboard/admin/usuario/listar}">Listar</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/usuario/crear}">Crear</a>
                        <a class="collapse-item" th:href="@{/Dashboard/admin/usuario/editar}">Editar</a>

                    </div>
                </div>
            </li>
             <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ventas"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Ventas</span>
                </a>
                <div id="ventas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{listar}">Listar</a>
                        <a class="collapse-item" th:href="@{crear}">Crear</a>
                        <a class="collapse-item" th:href="@{editar}">Editar</a>

                    </div>
                </div>
            </li>
                

    		<!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search"
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"src="../../../../img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuracion
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                                <!-- Begin Page Content -->
                                <div class="container-fluid">

                      
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Crear de Categorias de los productos</h6>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                  <div class="form-group col-md-6">
                                                    <label for="inputEmail4">Fecha</label>
                                                    <input type="text" class="form-control">
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label for="inputPassword4">Total</label>
                                                    <input type="text" class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="inputAddress">Pago realizado</label>
                                                    <input type="text" class="form-control" id="inputAddress" >
                                                  </div>
                                                  <div class="form-group col-md-6" >
                                                    <label for="exampleFormControlSelect1">Usuario</label>
                                                    <select class="form-control" >
                                                      <option></option>
                                                      <option>1</option>
                                                    </select>
                                                  </div>

                                                </div>
                                                
                                 
                                                <button type="button" class="btn btn-success">Crear</button>
                                              </form>
                                        </div>
                                    </div>
                     
                                 </div>
                                 <!-- End of Main Content -->
                  
                 </div>
                 <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../../../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../../../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../../../js/demo/datatables-demo.js"></script>

</body>

</html>